/* GLOBAL */
@media screen and (max-width: 480px) {
  .hide-from-mobile {
    display: none;
  }
  .homepage-wrapper {
    display: block !important;
  }
}

.page-content {
  flex: none !important; /* we are using grid to handle general layout */
}

.page-content .wrapper {
  max-width: 90%;
}

.site-header .wrapper {
  max-width: 85%;
}

.site-header span.info-value {
  color: #9e9d9d;
}

hr {
  margin: 1.5em 0;
  border-top: 1px;
}

/* HOMEPAGE ONLY */
.homepage-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-auto-rows: minmax(200px, auto);
}

.homepage-wrapper div {
}

.homepage-wrapper .ben-image {
  margin-right: 1rem;
}

.homepage-wrapper .ben-image img {
  width: 100%;
}

.gig-listing {
  border-bottom: 1px dashed lightgrey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.gig-listing:last-child {
  border-bottom: none;
}

.gig-row {
  padding-top: 5px;
}

.gig-time, .gig-description {
  font-weight: 300;
}

.gig-description {
  font-size: 0.94em
}

.gig-time {
  font-style: italic;
}

.gig-time .date {
  font-weight: 400;
  margin-right: .5rem;
}

.gig-time .time {
  margin-right: 1.5rem;
}

.gig-location a {
  font-weight: 100;
  text-decoration: none;
}

.u-email {
  text-decoration: none;
  color: #458;
  cursor: pointer;
  font-weight: 400;
}

.u-email:hover {
  text-decoration: none;
}

.about-ben-img {
  margin-right: 1.0rem;
  margin-bottom: 1.0rem;
  float: left;
}
